<ng-container *ngIf="visible && getCurrentStep()">
  <div class="box-tooltip" 
      style.top.px="{{ potitionStepTop(getCurrentStep().id) }}"
      style.left.px="{{ potitionStepLeft(getCurrentStep().id) }}"
  >
    <div class="arrow-tooltip"></div>
    <div class="content-tooltip">
      <p>{{ getCurrentStep().description }}</p>
      <div class="content-buttonStep">
        <a *ngIf="showNextButton" class="txtNextStep" (click)="nextStep()">Entendido</a>
        <a *ngIf="showSkipButton" class="txtExitStep" (click)="exitStep()">Saltar tips</a>
      </div>
    </div>
  </div>
</ng-container>
