@use "src/assets/styles/cotalker-variables.scss" as cot-var;
@use "src/assets/styles/cotalker-typography.scss" as cot-typography;
@import 'src/assets/styles/cotalker-palettes.scss';

.box-tooltip {
    position: absolute;
    display: flex;
    min-width: 300px;
    max-width: 400px;
    z-index: 1;
}

.arrow-tooltip {
    content: "";
	position: absolute;
    width: 1em;
    height: 2em;
	background-color: rgb(255, 255, 255);
	transform : rotate(45deg);
    top: 13px;
    bottom: 9px;
    //margin: auto;
}
.content-tooltip {
    position: relative;
    width: 100%;
    padding: 12px;
    background-color: #FFF;
    border-radius: 8px;
    border: 1px solid rgba(17, 51, 85, 0.12);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    z-index: -1;

    p {
        font-size: 16px;
        font-weight: 400;
        font-family: cot-var.$cot-font-family-global;
        line-height: 23px;
        color: #000000;
    }

    .content-buttonStep {
        display: flex;
        width: 100%;
        a {
            //display: flex;
            cursor: pointer;
            text-transform: uppercase;
            font-family: cot-var.$cot-font-family-global;
            font-style: normal;
            font-weight: 700;
            font-size: 11.24px;
            line-height: 16px;
            //align-items: center;
            letter-spacing: 0.015em;
        }

        .txtNextStep {
            width: 50%;
            color: #2288EE;
        }

        .txtExitStep {
            width: 50%;
            text-align: end;
            color: #113355;
        }
    }

}

